altgraph==0.17.4
certifi==2023.7.22
charset-normalizer==3.3.0
docopt==0.6.2
idna==3.4
packaging==23.2
pefile==2023.2.7
pipreqs==0.4.13
psutil==5.9.6
pycryptodome==3.19.0
pyinstaller==6.1.0
pyinstaller-hooks-contrib==2023.10
pypiwin32==223
pywin32==306
pywin32-ctypes==0.2.2
requests==2.31.0
setuptools==68.2.2
urllib3==2.0.7
WMI==1.5.1
yarg==0.1.9
